.map {
    display: flex !important;
    width: 100%;
    align-items: center !important;
    justify-content: center !important;
}


.google-map {
    width: 100% !important;
    height: 500px !important;
    display: block !important;
    position: relative !important;
}

.pin {
    display: flex;
    align-items: center;
    width: 250px;
    color: red;
}

.pin-icon {
    font-size: 5rem;
}

.pin-text {
    font-size: 1.3em;
}

@media screen and (min-width: 799px) {

    .pin {
        width: 15vw;
    }

    .pin-icon {
        font-size: 10vw;
    }
}